* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
}
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background: #444;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
nav a:hover {
    background: #555;
    border-radius: 5px;
}
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #222;
    color: white;
}
.hero img {
    width: 200px;
    border: none;
    border-radius: 10px;
    transition: 0.4;
}
/* .hero img:hover {
    width: 20px;
} */

.hero a {
    text-decoration: none;
    color: white;
}
.hero a:hover{
    color: gray;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.section {
    padding: 40px 20px;
    text-align: center;
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about p{
    font-family: 'Times New Roman', Times, serif;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-card1 {
    width: 30%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    margin: 10px;
}

.project-card2 {
    width: 30%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    margin: 10px;
}

.project-card3 {
    width: 30%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    margin: 10px;
}
.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-top: 300px;
    position: static;
}

@media screen and (max-width: 600px) {
    nav {
        padding: 10px 10px;
    }
    .project-card1 {
        width: 30px;
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
    }
}